[submodule "m1/printf"]
	path = m1/printf
	url = https://github.com/SpaceBoyDev/printf.git
[submodule "m0/libft"]
	path = m0/libft
	url = https://github.com/SpaceBoyDev/libft.git
[submodule "m1/get_next_line"]
	path = m1/get_next_line
	url = https://github.com/SpaceBoyDev/get_next_line.git
